<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bloc de Notas</ion-title>
    </ion-toolbar>
  </ion-header>
  <hr>
  <form #formNotas="ngForm" (ngSubmit)="handleSubmit($event)">
    <ion-item>
        <ion-label position="floating">Escriba una nota:</ion-label>
        <ion-input
        [(ngModel)]="nota"
        name="nota"
        id="nota"
        type="text"
        required
        ></ion-input>
    </ion-item>
  </form>

  <ion-label>{{texto}}</ion-label>
  
  <ion-button size="full" type="submit">Guardar</ion-button>

</ion-content>
