<div id="container">
  <hr><hr>
  <input type="text" name="email" id="email" style="background-color:#ffffff; width:100%; height:35px;" placeholder="Email o Usuario"><hr>
  <input type="text" name="pass" id="pass" style="background-color:#ffffff; width:100%; height:35px;" placeholder="Contraseña"><hr>
  <input type="text" name="passw" id="passw" style="background-color:#ffffff; width:100%; height:35px;" placeholder="Confirmar contraseña"><hr>

  <div>
    <hr>
    <button type="button" size="full" style="background-color:#f44336; width:100%; height:35px;"><b>Registrar</b></button>
  </div>
</div>